.dashboard{
    float: left;
    width: 100%;
    display: inline-block;
    background: #fff;
}
.navbar, .metric-dropdown{
    background: #0271ab!important;
}
.navbar a{
    color: #fff!important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #6a95b1 !important;
    color: #9f9f9f;
}
.navbar-default a:hover{
    background-color: #6a95b1 !important;
    color: #9f9f9f;
}
.project-block{
    width: 100%;
    display: inline-block;
    float: left;
    border: 1px solid #919191;
    border-radius: 3px;
    margin-bottom: 30px;
}
.project-block-name{
    width: 100%;
    display: inline-block;
    float: left;
    background: #919191;
    padding: 10px 15px;
    color: #fff;
    font-weight: 700;
}
.project-block-date, .project-block-options{
    padding: 0px 15px 10px 15px;
    color: #919191;
}
.project-block-date{
    text-align: right;
}
.project-block-options a{
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    height: 40px;
    padding: 7px;
    background: rgba(25, 112, 145, 0.09);
    color: #919191;
}
.project-block-options a:hover{
    text-decoration: none;
    background: rgba(25, 112, 145, 0.27);
    color: #fff;
}
.project-block-options-update{
    float: right;
    color: #fff;
}
.project-block-options .project-block-options-update i{
    height: 30px;
    width: auto;
    margin-top: 5px;
    color: #d8d8d8;
    font-size: 20px;
}
.project-block-options .project-block-options-update:hover{
    background: #f1f1f1;
}
.project-block-options .project-block-options-update:hover i{
    color: #919191;
}
.project-block.active .project-block-name{
    background: #0281c6;
}
.dashboard-new{
    text-align: right;
    width: 100%;
    display: inline-block;
    float: left;
    margin-bottom: 15px;
}
.form-active-checkbox input[type="checkbox"]{
    margin: 12px 0 0;
}
.table-button{
    width: 70px;
}
/*--------------------------------------------------------------------*/
.select2-container{
    width: 100%!important;
}
.breadcrumb{
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #0281c6;
    margin-bottom: 15px;
}